{% extends "parents/_parent_base.html" %}

{% block content %}
    <div class="row">
        {% for child in child_data %}
            <table class="table">
                <tr>
                    <form action="/parent/children" method="post">
                        {{ points_form.csrf_token }}
                        {{ points_form.child_id(value=child.id) }}
                        <th scope="row" class="text-start"><h3>{{ child.first_name }}</h3></th>
                        <td class="text-start">{{ child.points }} points</td>
                        <td class="text-end">
                            +/- {{ points_form.points(value="0") }} points
                            {{ points_form.adjust }}
                        </td>
                        <td class="text-end">
                            <a href="{{ url_for('routes.delete_child', user_id=child.id) }}">Delete</a>
                            <a href="{{ url_for('routes.pass_reset', user_id=child.id) }}">Reset Password</a>
                        </td>
                    </form>
                </tr>
            </table>
            {% if child.count > 0 %}            
                <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Chore</th>
                            <th scope="col" class="text-end">Points</th>
                            <th scope="col" class="text-end">Status</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chore in child.chores %}
                            <tr>
                                <form action="/parent/children" method="post">
                                    {{ chore_form.csrf_token() }}
                                    {{ chore_form.chore_id(value=chore.id) }}
                                        <th scope="row" class="text-start">{{ chore["name"] }}</th>
                                        <td class="text-end">{{ chore["points"] }}</td>
                                        <td class="text-end">{{ chore["state"] }}</td>
                                        <td class="text-end">
                                            {{ chore_form.delete() }}
                                            {{ chore_form.approve() }}
                                            {% if chore["state"] == "Complete" %}
                                                {{ chore_form.reject() }}
                                            {% endif %}
                                        </td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>                        
                </table>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <form action="/parent/children" method="post">
            {{ template_form.csrf_token() }}
            {{ template_form.username.label }}
            {{ template_form.username() }}<br>
            {{ template_form.first_name.label }}
            {{ template_form.first_name }}
            {{ template_form.password.label }}
            {{ template_form.password() }}
            {{ template_form.confirm_password.label }}
            {{ template_form.confirm_password }}
            {{ template_form.submit() }}
        </form>
    </div>
{% endblock %}