{% extends "parents/_parent_base.html" %}

{% block content %}
    <div class="row mx-auto text-center">
        <h3>Reset Password</h3>
        <form action="/parent/settings" method="post" class="row g-3 my-3">
            {{ template_form.csrf_token }}
            <div class="col">
                {{ template_form.old_password.label(class="form-label", for="inputOld") }}
                {{ template_form.old_password(class="form-control", id="inputOld") }}
            </div>
            <div class="col">
                {{ template_form.new_password.label(class="form-label", for="inputPass") }}
                {{ template_form.new_password(class="form-control", id="inputPass") }}
            </div>
            <div class="col">
                {{ template_form.confirm_password.label(class="form-label", for="inputConfirm") }}
                {{ template_form.confirm_password(class="form-control", id="inputConfirm") }}
            </div>
            <div class="row mx-auto text-center">
                <div class="col">
                {{ template_form.submit(class="btn btn-primary mt-3") }}
                </div>
            </div>
        </form>
    </div>
    <div class="row mx-auto text-center">
        <div class="col">
            <a href="{{ url_for('routes.delete_parent', user_id=parent.id) }}" class="btn btn-danger">
                Delete Account
            </a>
        </div>
    </div>
{% endblock %}