{% extends "_base.html" %}

{% block content %}
    <div class="row">
        <form action="/register" method="post">
            {{ template_form.hidden_tag() }}
            {{ template_form.username.label }}
            {{ template_form.username() }}<br>
            {{ template_form.first_name.label }}
            {{ template_form.first_name }}
            {{ template_form.last_name.label }}
            {{ template_form.last_name }}<br>
            {{ template_form.password.label }}
            {{ template_form.password() }}
            {{ template_form.confirm_password.label }}
            {{ template_form.confirm_password }}
            {{ template_form.submit() }}
        </form>
    </div>
{% endblock %}