#navBar {
    background-color: #6C91BF;
}

#bodyBG {
    background-color: #5FB0B7;
    font-family: 'Oswald', sans-serif
}

#bodyMain {
    background-color: #FFFFFF;
}

.btn-primary {
    background-color: #6C91BF;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #000000;
}

.alert-info {
    background-color: #6C91BF;
}

.alert-success {
    background-color: #5FB0B7;
}

.notification {
    color: #FFFFFF;
    font-size: 15px;
}

.btn-not {
    font-size: 15px;
}

.link-primary {
    color: #6C91BF;
}

.point-adjust {
    width: 4em;
}

.child-link {
    font-size: 15px;
}