#navBar {
    background-color: #6C91BF;
    /* background-color: #190933; */
}

#bodyBG {
    background-color: #5FB0B7;
    font-family: 'Oswald', sans-serif
}

#bodyMain {
    background-color: #F5ECCD;
}